* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: black;
    outline: none;
}

section,
article,
aside,
footer,
header,
nav,
hgroup {
    display: block;
}

a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    position: relative;
    color: #212529;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    min-height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-weight: 700;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1.2rem;
}

strong,
b {
    font-weight: 700;
}

ul {
    list-style-type: disc;
}
/* */
/*초기화*/

.page {
    margin: 64px 0 0 0;
}

.fleamarket-cover {
    background-color: #FFF1AA;
    display: block;
    width: 100%;
    height: 315px;
}

.cover-contents1 {
    margin: 0 auto;
    height: 265px;
    width: 800px;
    padding: 50px 0 0 0;
}

.cover-title1 {
    display: block;
    font-size: 34px;
    line-height: 1.5;
    height: 102px;
    width: 768px;
    margin: 0 0 1px 15px;
    letter-spacing: -0.90px;
}

.cover-title2 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.18px;
    line-height: 23.76px;
    height: 47.5px;
    width: 768px;
    margin: 0 0 0 15px;
}

.cover-img-part {
    position: absolute;
    margin: -215px 0 0 368px;
    z-index: 0;
}

.cover-img {
    display: flex;
    width: 416px;
    height: 315px;
}

@Media screen and (max-width: 768px) {
    .cover-img {
        display: none;
    }

    .cover-title1 {
        font-size: 26px;
        margin: -25px 0 0 -115px;
    }

    .cover-title2 {
        display: none;
    }
}

.main_page1 {
    margin: 63px 0 37px 0;
    text-align: center;
}

.main_text {
    font-size: 32px;
    letter-spacing: -0.5px;
}

.cards_wrap {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    margin: 0 auto;
}

.card_list {
    margin: 0 0 60px 0;
    letter-spacing: 0.1px;
}

.card_img {
    widht: 223px;
    height: 223px;
    border-radius: 1rem;
}

.card_title {
    font-size: 15px;
    height: 24px;
    width: 223px;
    font-weight: 400;
    padding: 8px 0 4px 0;
}

.card_price {
    font-size: 15px;
    font-weight: 700;
    height: 22.5px;
    width: 223px;
    padding: 0 0 4px 0;
}

.card_name {
    font-size: 12.5px;
    height: 19.5px;
    width: 223px;
    padding: 0 0 4px 0;
}

.card_count {
    font-size: 13px;
}

.card_count span {
    color: #868E96;
}

.more_cards {
    text-align: center;
}

.more_text {
    font-size: 15.9px;
    text-decoration: underline;
    font-weight: 600;
}

.popular_search {
    background-color: #F8F9FA;
    width: 100%;
    height: 104px;
    margin: 85px 0 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.popular_search_title {
    text-decoration: underline;
    display: inline;
    font-size: 16px;
    margin: 40px 60px 0 0;
    white-space: nowrap;
}

.popular_search_list {
    display: flex;
    justify-content: center;
}

.popular_search_list_item {
    font-size: 16px;
    margin: 40px 35px 0 0;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .popular_search {
        display: block;
        height: 150px;
    }

    .popular_search_title {
        display: inline-block;
    }

    .popular_search_list {

    }
}

