a {
    text-decoration: none;
    color: inherit;
}

/* 메인 배너 시작 */
.main_banner {
    background-color: #f7f1eb;
    display: block;
    width: 100%;
    height: 265px;
    padding: 50px 0 0;
    margin: 64px 0 72px;
}
.main_banner_container {
    width: 768px;
    margin:0 auto;
}

.main_banner_img {
    width: 453px;
    height: 260px;
    float: right;
}

.main_banner_text {
    line-height: 1.5;
    font-size: 2rem;
}

.dongne_all_item_region {
    color: #868B94;
}
.dongne_all_item_description {
    display: inline-block;
    margin: 4px 0 0;
}

.dongne_all_item_info {
    display: inline-block;
    margin: 6px 0 0;
}

/* 메인 배너 끝 */

/* 동네업체 섹션 시작 */
.dongne_title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.dongne_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.dongne_tab__item {
    padding: 0.6rem 1.3rem;
    margin-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 2rem;
}

.dongne_tab__item.active {
    display: inline-block;
    border: 1px solid #212124;
    background-color: #212124;
    color: #fff;
}

.dongne_tab__content-wrapper {
    padding: 1rem;
}

.dongne_tab__content {
    display: none;
}

.dongne_tab__content.active {
    display: block;
}

.dongne_list_all {
    width: 768px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.dongne_list_all_item {
    width: 368px;
    height: 112px;
}
.dongne_list_all_item_a {
    width: 368px;
    height: 112px;
    display: flex;
    flex-wrap: wrap;
}

.dongne_all_item_thumbnail img {
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.dongne_all_item_content {
    width: 240px;
    height: 78px;
}