:root {
    --dongne-color-static-beige01: #f7f1eb;
    --dongne-color-static-carrot01: #FF6F0F;
    --dongne-color-static-text-gray01: #868B94;
    --dongne-color-static-tab-gray01: #4D5159;
    --dongne-color-static-border-gray01: #EAEBEE;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 메인 배너 시작 */
.main_banner {
    background-color: var(--dongne-color-static-beige01);
    display: block;
    width: 100%;
    height: 265px;
    padding: 50px 0 0;
    margin: 64px 0 72px;
}

.main_banner_container {
    width: 768px;
    margin: 0 auto;
}

.main_banner_img {
    width: 453px;
    height: 260px;
    float: right;
}

.main_banner_text_title {
    line-height: 1.5;
    font-size: 32px;
    margin: 10px 0 20px 0;
    font-weight: bold;
}

.main_banner_text_sub {
    font-size: 18px;
    line-height: 1.3;
}
/* 메인 배너 끝 */

/* 동네업체 섹션 시작 */
.dongne_title {
    margin: 0 0 32px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.dongne_tab {
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 14px;
}

.dongne_tab__item {
    padding: 11px 15px 11px 15px;
    margin-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 2rem;
    white-space: nowrap;
}

.dongne_tab__item.active {
    display: inline-block;
    border: 1px solid var(--dongne-color-static-tab-gray01);
    background-color: var(--dongne-color-static-tab-gray01);
    color: #fff;
}

.dongne_tab__content-wrapper {
    margin-top: 20px;
    padding: 1rem;
}

.dongne_tab__content {
    display: none;
}

.dongne_tab__content.active {
    display: block;
}

.dongne_list_all {
    width: 768px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}

.dongne_list_all_item {
    width: 364px;
    height: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--dongne-color-static-border-gray01);
}

.dongne_list_all_item:last-child, .dongne_list_all_item:nth-last-child(2) {
    border-bottom: none;
}

.dongne_list_all_item_a {
    display: flex;
    flex-wrap: flex;
    padding: 10px 10px 25px 10px;
}

.dongne_list_all_item_a:hover {
    background-color: #F2F3F6;
}

.dongne_all_item_thumbnail img {
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.dongne_all_item_content {
    width: 240px;
    height: 78px;
    margin-left: 15px;
}

.dongne_all_item_name-wrapper {
    align-items: center;
    display: flex; /* 텍스트 세로 정렬 */
}

.dongne_all_item_name {
    font-weight: 700;
    font-size: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    max-width: 80%;
}

.dongne_all_item_region {
    font-size: 14px;
    color: var(--dongne-color-static-text-gray01);
    white-space: nowrap;
    margin-left: 5px;
}

.dongne_all_item_description  {
    font-size: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    margin: 7px 0 4px 0;
    line-height: 1.4;
}

.dongne_all_item_info {
    font-size: 13.008px;
    color: #868B94;
    display: inline-block;
    margin: 6px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

/* 동네업체 섹션 끝 */

/* 이웃후기 섹션 시작 */
.dongne_review_container {
    width: 768px;
    margin: 0 auto;
    margin-top: 70px;
}

.dongne_review_list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 14px;
}

.dongne_review_list_item {
    width: 342px;
    padding: 20px 16px;
    border-radius: 0.5rem;
    border: 0.1rem solid #EAEBEE;
}

.dongne_review_list_item:hover {
    background-color: #F2F3F6;
}

.dongne_review_card_writer {
    height: 41px;
    display: flex;
    flex-wrap: wrap;
}

.dongne_review_card_writer_thumbnail img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.dongne_review_card_writer_info {
    padding: 0 0 0 10px;
}

.dongne_review_card_writer_info_source {
    align-items: center;
    display: flex;
}

.dongne_review_card_writer_info_dangol {
    display: none;
}

.dongne_review_card_writer_info_name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.dongne_review_card_writer_info_dangol.active {
    display: inline;
    width: auto;
    background-color: var(--dongne-color-static-carrot01);
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 100px;
    padding: 0.2rem 0.4rem;
    line-height: 1.35;
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 12px;
    line-height: normal;
}

.dongne_review_card_writer_info_location {
    color: var(--dongne-color-static-text-gray01);
    font-size: 13px;
    display: inline-block;
}

.dongne_review_card_detail {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.4;
    max-height: 2.4;
    margin: 0.375rem 0 1.3rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: normal;
    font-size: 15.5px;
}

.dongne_review_card_store_info {
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    overflow: hidden;
    vertical-align: middle;
    flex-wrap: wrap;
    border: 0.0625rem solid #EAEBEE;
}

.dongne_review_card_store_info img {
    margin: 0;
    width: 62px;
    height: 62px;
}

.dongne_review_card_store_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.dongne_review_card_store_source,
.dongne_review_card_store_detail {
    display: block;
    font-size: 1rem;
    line-height: normal;
}

.dongne_review_card_store_source {
    font-size: 16px;
    height: 22px;
}

.dongne_review_card_store_detail {
    font-size: 13px;
    height: 20px;
    color: var(--dongne-color-static-text-gray01);
}

/* 이웃후기 섹션 끝 */

/* 하단 비즈 배너 섹션 시작 */
.dongne_biz_wrapper {
    width: 714px;
    height: 72px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 70px auto;
    padding: 24px 22px 24px 32px;
    background-color: #FEF7EB;
    display: flex;
    align-items: center;
}

.dongne_biz_wrapper img {
    width: 72px;
    height: 72px;
    float: left;
    margin: 0;
}

.dongne_biz_wrapper_text {
    width: 437px;
    padding: 0 0 0 32px;
}

.dongne_biz_title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 9px 0;
}

.dongne_biz_detail {
    font-size: 1.5rem;
}

.dongne_biz_create {
    width: 150px;
    height: 35px;
    float: left;
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
    background-color: #FE6F0F;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    margin: 0 0 0 12px;
}

/* 하단 비즈 배너 섹션 끝 */
