.main_banner {
    background-color: #f7f1eb;
    display: block;
    width: 768px;
    height: 265px;
    margin: 0 346px 0 346px;
    padding: 50px 0 0;
}

.main_banner_img {
    width: 453px;
    height: 260px;
    float: right;
}

.main_banner_text {
    line-height: 1.5;
    font-size: 2rem;
}